{%- comment -%}
<!-- 
This data is pulled from _data/hardware.yml
-->
{%- endcomment -%}

<style type="text/css">
  #setup-diagram {
    position: relative;
    width: 100%;
  }
  .diagramLight {
    display: block;
  }
  .diagramDark {
    display: none;
  }
  .dark-mode .diagramLight {
    display: none;
  }
  .dark-mode .diagramDark {
    display: block;
  }
  .diagramFull {
    display: none !important;
  }
  .diagramMin {
    display: block !important;
  }

  .component-highlight {
    position: absolute;
  }
  @media only screen and (max-width: 575px) {
    .component-highlight {
      display: none;
    }
  }
  .component-highlight.active {
    background-color: rgba(var(--brand-color-1-rgb),0.25);
    border: 2px solid #000;
    z-index: 2;
  }

  .setup-min #component-1 {
    inset: 11% 61% 53% 11%;
  }
  .setup-min #component-2 {
    inset: 13% 10% 51% 60%;
  }
  .setup-min #component-3 {
    inset: 57% 25% 5% 56%;
  }
  .setup-min #component-4 {
    inset: 56% 2% 2% 78%;
  }
  .setup-min #component-5,
  .setup-min #component-6 {
    display: none;
  }

  .setup-full #component-1 {
    inset: 14% 68% 53% 5%;
  }
  .setup-full #component-2 {
    inset: 14% 7% 52% 65%;
  }
  .setup-full #component-3 {
    inset: 58% 21% 4% 60%;
  }
  .setup-full #component-4 {
    inset: 57% 0% 2% 82%;
  }
  .setup-full #component-5 {
    inset: 29% 39% 34% 37%;
  }
  .setup-full #component-6 {
    inset: 8% 35% 58% 52%;
  }
  
  .component-details {
    position: absolute;
    /*inset: 66% 43% 0% 0%;*/
    background-color: var(--bs-body-bg);
    border: 2px solid #000;
    padding: 0.5rem 1rem 1rem 1rem;
    min-width: 300px;
    max-width: 425px;
    max-height: 180px;
    overflow: scroll;
    display: none;
    z-index: 3;
  }
  .setup-min #details-1 {
    top: 46%;
    left: 11%;
  }
  .setup-min #details-2 {
    top: 48%;
    right: 10%;
  }
  .setup-min #details-3 {
    bottom: 42%;
    right: 25%;
  }
  .setup-min #details-4 {
    bottom: 43%;
    right: 2%;
  }
  .setup-min #details-5,
  .setup-min #details-6 {
    right: 0%;
    bottom: 0%;
    display: none;
  }

  .setup-full #details-1 {
    top: 46%;
    left: 5%;
  }
  .setup-full #details-2 {
    top: 47%;
    right: 7%;
  }
  .setup-full #details-3 {
    right: 21%;
    bottom: 41%;
  }
  .setup-full #details-4 {
    right: 0%;
    bottom: 42%;
  }
  .setup-full #details-5 {
    top: 65%;
    left: 37%;
  }
  .setup-full #details-6 {
    top: 41%;
    left: 52%;
  }
  {%- for component in site.data.hardware -%}
    #component-{{component.index}}.active ~ #details-{{component.index}} {
      display: block !important;
    }
  {%- endfor -%}
</style>


<div id="setup-diagram" class="setup-min">
  <div class="diagramLight">
    <img class="diagramFull" src="/assets/img/hardware/full-setup-light.webp" style="max-height:100%;">
    <img class="diagramMin" src="/assets/img/hardware/minimal-setup-light.webp" style="max-height:100%;">
  </div>
  <div class="diagramDark">
    <img class="diagramFull" src="/assets/img/hardware/full-setup-dark.webp" style="max-height:100%;">
    <img class="diagramMin" src="/assets/img/hardware/minimal-setup-dark.webp" style="max-height:100%;">
  </div>
  {%- for component in site.data.hardware -%}
    <div id="component-{{component.index}}" class="component-highlight"></div>
    <div id="details-{{component.index}}" class="component-details">
    <u><strong>{{component.name}}</strong></u><br>
    <p><small class="text-muted">{{component.usage | titlecase}}</small></p>
    {%- assign bullet_point = "&#x2022;" -%}
    {%- if component.index == 1 -%}
      <div class="d-block">{{component.products[0].name}}</div>
    {%- else -%}
      {%- assign no_products_available = true -%}
      {%- for product in component.products -%}
          <div class="d-block product_{{product.id}}">{{bullet_point}} <a href="{{product.link}}">{{product.name}}</a></div>
      {%- endfor -%}
      <div class="d-none text-danger component_{{component.name | md5}}">No products available — out of stock</div>
    {%- endif -%}
    </div>
  {%- endfor -%}
</div>

<div class="toggle-switch text-center mt-2 mb-4">
  <div class="toggle-switch-outline d-inline-flex rounded-pill p-1">
    <div class="btn-group d-block" role="group" aria-label="validator setup type">
      <input type="radio" class="btn-check setup-type" name="setuptype" id="setupMin" autocomplete="off" checked>
      <label class="btn btn-sm btn-outline-primary rounded-pill" for="setupMin">Minimal Setup</label>

      <input type="radio" class="btn-check setup-type" name="setuptype" id="setupFull" autocomplete="off">
      <label class="btn btn-sm btn-outline-primary rounded-pill" for="setupFull">Comprehensive Setup</label>
    </div>
  </div>
</div>


<script type="text/javascript">
  document.querySelectorAll(".setup-type").forEach(el => {
    el.addEventListener('click',function (e) {
      if (el.id == "setupMin" && el.checked) {
        // log("minimal checked");
        document.querySelectorAll(".diagramFull").forEach(diagram => {
          diagram.style.setProperty("display", "none", "important");
        });
        document.querySelectorAll(".diagramMin").forEach(diagram => {
          diagram.style.setProperty("display", "block", "important");
        });
        document.getElementById("setup-diagram").classList.remove("setup-full");
        document.getElementById("setup-diagram").classList.add("setup-min");
      } else {
        // log("comprehensive checked");
        document.querySelectorAll(".diagramMin").forEach(diagram => {
          diagram.style.setProperty("display", "none", "important");
        });
        document.querySelectorAll(".diagramFull").forEach(diagram => {
          diagram.style.setProperty("display", "block", "important");
        });
        document.getElementById("setup-diagram").classList.remove("setup-min");
        document.getElementById("setup-diagram").classList.add("setup-full");
      }
    });
  });

  document.querySelectorAll(".component-highlight").forEach(el => {
    el.addEventListener('click',function (e) {
      // log(this.id);
      removeHighlights();
      this.classList.add("active");
    });
    el.addEventListener('mouseover',function (e) {
      // log(this.id);
      removeHighlights();
      this.classList.add("active");
    });
  });
  document.addEventListener("click", function(e) {
    let removeHighlight = true;
    document.querySelectorAll(".component-highlight").forEach(el => {
      if (el.contains(e.target)) {
        removeHighlight = false;
      }
    });
    document.querySelectorAll(".component-details").forEach(el => {
      if (el.contains(e.target)) {
        removeHighlight = false;
      }
    });
    if (removeHighlight == true) {
      removeHighlights();
    }
  });

  function removeHighlights() {
    document.querySelectorAll(".component-highlight").forEach(el => {
      el.classList.remove("active");
    });
  }
</script>
