{%- comment -%}
<!-- 
This data is pulled from _data/about/documenters.yml
-->
{%- endcomment -%}

<style type="text/css">
  .documenter {
    width: 10.5rem;
    border: none;
  }
  @media only screen and (max-width: 1399px) {
    .documenter {
      width: 12rem;
    }
  }
  @media only screen and (max-width: 1199px) {
    .documenter {
      width: 14rem;
    }
  }
  @media only screen and (max-width: 991px) {
    .documenter {
      width: 13rem;
    }
  }
  .documenter a {
    width: 1.1rem;
    margin: 0 0.35rem;
    filter: grayscale(100%) brightness(0%);
  }
  .documenter a:first-child {
    margin-left: 0;
  }
  .documenter a:last-child {
    margin-right: 0;
  }
  .documenter svg {
    height: 1.1rem;
    width: 1.1rem;
    opacity: 0.8;
  }

  .dark-mode .documenter a {
    filter: contrast(0%) brightness(100%) sepia(50%) hue-rotate(175deg) !important;
  }
</style>


<div class="row row-cols-auto justify-content-center pt-2">
  {%- for documenter in site.data.documenters -%}
    {%- if documenter.name -%}
      <div class="col d-flex align-items-stretch mb-4">
        <div class="card documenter shadow">
          <div class="px-3 pt-3">
            <img src="{{documenter.img}}" class="card-img-top m-0 rounded-circle shadow" alt="...">
          </div>
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title text-center mx-auto mb-0">{{documenter.name}}</h5>
            <p class="card-text text-center mx-auto fs-6 fst-italic mb-auto pb-2">{{documenter.role}}</p>
            <div class="row text-center mx-auto">
              {%- if documenter.discord -%}
                {%- assign discord_id = documenter.discord | replace: "@", "" -%}
                  <a href="https://discordapp.com/users/{{discord_id}}" target="_blank" class="col col-1 px-0">
                  {{site.data.icons.discord}}</a>
              {%- endif -%}
              {%- if documenter.twitter -%}
                {%- assign twitter_handle = documenter.twitter | replace: "@", "" | split: "/" | last -%}
                  <a href="https://twitter.com/{{twitter_handle}}" target="_blank" class="col col-1 px-0">
                  {{site.data.icons.twitter}}</a>
              {%- endif -%}
              {%- if documenter.reddit -%}
                {%- assign reddit_handle = documenter.reddit | replace: "@", "" | split: "/" | last -%}
                  <a href="https://reddit.com/u/{{reddit_handle}}" target="_blank" class="col col-1 px-0">
                  {{site.data.icons.reddit}}</a>
              {%- endif -%}
              {%- if documenter.github -%}
                {%- assign github_handle = documenter.github | replace: "@", "" | split: "/" | last -%}
                  <a href="https://github.com/{{github_handle}}" target="_blank" class="col col-1 px-0">
                  {{site.data.icons.github}}</a>
              {%- endif -%}
              {%- if documenter.ens -%}
                {%- assign ens = documenter.ens | replace: "@", "" | split: "/" | last -%}
                  <a href="https://etherscan.io/address/{{ens}}" target="_blank" class="col col-1 px-0 img-black">
                  {{site.data.icons.etherscan}}</a>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>
