<style type="text/css">
  header .floating-hover {
    margin-top: -3.5em;
    max-height: 400px;
  }
</style>


<!-- Header -->
<header class="mt-0 mt-sm-2 mt-md-3 mt-xl-5 pt-4 pt-md-5">
  <div class="container my-0 mt-lg-4 mb-lg-2 p-4">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-xl-7 p-md-3 p-lg-5 pt-lg-3 aos-right">
        <h1 class="display-4 fw-bold lh-1 mb-3">Ethereum Staking</h1>
        <p class="lead">Ethereum is secured using the Proof of Stake consensus mechanism. Staking is the act of validating new transactions and adding new blocks while locking your ETH as a form of insurance. In exchange for supporting the network, staking participants earn rewards.</p>
        <p class="lead">Staking is a public good for the Ethereum ecosystem. Any user with any amount of ETH can help secure the network and earn rewards in the process.</p>
        <div class="gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="#explore" class="btn btn-dark btn-lg shadow">Explore</a>
        </div>
      </div>
      <div class="col-lg-4 ps-xxl-5 d-none d-xl-block aos-left">
        <img class="floating-hover d-light" src="/assets/img/staking/eth-logo-outline-black.svg" alt="">
        <img class="floating-hover d-dark" src="/assets/img/staking/eth-logo-outline-white.svg" alt="">
      </div>
    </div>
  </div>
</header>
