<!-- Pool Node Operator -->
<section id="pool-node-operator" class="">
  <div class="container my-3 my-md-0 my-lg-4 p-4 py-md-5">
    <!-- Description & Details -->
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-xl-7 p-md-3 p-lg-5 pt-lg-3">
        <h2 class="display-4 fw-bold lh-1 mb-3">Staking Pool Node Operator</h2>
        <p class="lead">As a pool node operator you have the same responsibilities as a solo operator (managing a validator), but you will be operating a validator for a staking pool protocol. Since a portion of the 32 ETH required for a validator comes from the pool, the node operator can create a validator for less than 32 ETH (amount depends on the protocol). To balance incentives, the node operator may also earn commission on the portion of the ETH that's from the pool.</p>
      </div>
      <div class="col align-self-center">
        <div class="row row-cols-1 row-cols-sm-2 aos-up">
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Requirements</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>8 ETH</li>
                    <li>Dedicated computer</li>
                    <li>Internet</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Risks</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>Bug in Ethereum</li>
                    <li>Contract bug / exploit</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Rewards</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>+ Staking APR</li>
                    <li>+ MEV / tips</li>
                    <li>+ Commission</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Considerations</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>Audits</li>
                    <li>Commission rate</li>
                    <li>Token rewards</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Getting Started -->
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 pt-3 p-md-3 p-lg-3 text-start text-sm-center">
        <h3 class="lh-1 mb-3">Getting Started</h3>
        <p class="lead">While solo staking is the gold standard, being a pool node operator is probably the second best way to stake. Select a staking pool from below (Rocket Pool is recommended) and follow their respective guides for setting up your validator.</p>
      </div>
    </div>
    <!-- Options -->
    <div class="row justify-content-center aos-up">
      <div class="col col-12 col-md-6 col-xl-4 d-flex align-items-stretch mb-3">
        <div class="card shadow border-light w-100">
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Rocket Pool</h5>
            <span class="badge rounded-pill text-bg-primary mb-2">Recommended</span>
            <div class="card-text mb-auto mt-2">
              <p>Rocket Pool is recommended on this list due to it being permissionless and healthiest for the network, which strengthens your own investment.</p>
              <ul>
                <li><a href="https://rocketpool.net/">Official website</a></li>
                <li><a href="https://docs.rocketpool.net/guides/">Guides</a></li>
                <li><a href="https://discord.gg/rocketpool">Discord</a></li>
                <li><a href="https://rocketpool.net/#security">Audits</a></li>
                <li><a href="https://docs.rocketpool.net/overview/contracts-integrations.html">Contract/token addresses</a></li>
                <li>Requires 8 ETH + optional token collateral</li>
                <li>Earn ~10% commission on pool</li>
                <li>Potential token rewards</li>
              </ul>
            </div>
            <a href="https://docs.rocketpool.net/guides/node/responsibilities.html#rocket-pool-node-operators" class="btn btn-outline-dark btn-sm shadow-sm w-100 new-tab" target="_blank">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 col-xl-4 d-flex align-items-stretch mb-3">
        <div class="card shadow border-light w-100">
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Stakewise</h5>
            <span class="badge rounded-pill text-bg-primary mb-2">Recommended</span>
            <div class="card-text mb-auto mt-2">
              <p>StakeWise is recommended on this list due to it being permissionless and healthiest for the network, which strengthens your own investment.</p>
              <ul class="mb-auto">
                <li><a href="https://stakewise.io/">Official website</a></li>
                <li><a href="https://docs-v3.stakewise.io/">Guides</a></li>
                <li><a href="https://discord.gg/8Zf7tKyXeZ">Discord</a></li>
                <li><a href="https://github.com/stakewise/contracts/tree/master/audits">Audits</a></li>
                <li>Variable collateral</li>
                <li>You define commission rate</li>
                <!-- <li>No ETH/token collateral required</li> -->
                <!-- <li>No additional token rewards</li> -->
              </ul>
            </div>
            <a href="https://docs-v3.stakewise.io/guides/running-a-vault" class="btn btn-outline-dark btn-sm shadow-sm w-100 new-tab" target="_blank">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    {%- comment -%}
    <!-- Resources -->
    <!-- <div class="row justify-content-center aos-up">
      <div class="col col-12 col-md-6 col-xl-4 p-md-3 p-lg-3 text-center">
        <div class="card shadow border-light w-100 text-start">
          <div class="card-body">
            <h5 class="card-title">Resources</h5>
            <div class="card-text">
              <ul class="text-start">
                <li><a href=""></a></li>
              </ul>
              <a href="/resources" class="btn btn-outline-dark btn-sm">View all resources</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    {%- endcomment -%}
  </div>
</section>
