<!-- Decentralized Staking Pool -->
<section id="decentralized-staking-pool" class="">
  <div class="container my-3 my-md-0 my-lg-4 p-4 py-md-5">
    <!-- Description & Details -->
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-xl-7 p-md-3 p-lg-5 py-lg-3">
        <h2 class="display-4 fw-bold lh-1 mb-3">Decentralized Staking Pool</h2>
        <p class="lead">Staking pools are a collaborative approach to allow many users with smaller amounts of ETH to obtain the 32 ETH required for staking. Not all staking pools are equal and carry <a href="https://ethereum.org/en/staking/pools/#what-to-consider">different risks</a>, ranging from trustless to off-chain. When participating in a staking pool you are given a liquid staking token (LST) in return, which can be used in defi or exchanged back for ETH as desired.</p>
        <p><a href="https://ethereum.org/en/staking/pools/" class="btn btn-outline-dark shadow new-tab" target="_blank">Learn more</a></p>
      </div>
      <div class="col align-self-center">
        <div class="row row-cols-1 row-cols-sm-2 aos-up">
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Requirements</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>Any amount of ETH</li>
                    <li>Self-custody wallet</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Risks</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>Bug in Ethereum</li>
                    <li>Contract bug / exploit</li>
                    <li>LST token contract bug / exploit</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Rewards</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>+ Staking APR</li>
                    <li>+ MEV / tips</li>
                    <li>- Fees / commission</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Considerations</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>Audits</li>
                    <li>OFAC compliance</li>
                    <li>Accrual type / taxes</li>
                    <li>Fees/commission</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Getting Started -->
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 pt-3 p-md-3 p-lg-3 pb-md-0 pb-lg-0 text-start text-sm-center">
        <h3 class="lh-1 mb-3">Getting Started</h3>
        <p class="lead mb-0">Select a staking pool from below (Rocket Pool is recommended) and use their app to exchange ETH for their LST. LSTs can then be used in defi, but make sure to use a combination of <a href="https://www.gemini.com/cryptopedia/crypto-wallets-hot-cold">hot and cold wallets</a> and be careful of phishing sites.</p>
      </div>
    </div>
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 p-md-3 p-lg-3">
  {% include partials/components/callout.html
    title="Level Up!"
    type="info"
    content="If you need help learning how to use a decentralized staking protocol (**highly recommended**), please utilize the following resources:

  1. [What is self custody?](https://learn.metamask.io/lessons/what-is-a-self-custody-wallet)
  1. [Choosing a wallet](https://ethereum.org/en/wallets/)
  1. [Setup hot and cold wallets](https://www.gemini.com/cryptopedia/crypto-wallets-hot-cold)

  When using a self-custody wallet, always be careful searching for links (many ads are phishing websites), check the URL you're accessing, and cautious of emails since many phishing attempts appear to be real."
  %}
      </div>
    </div>
    <!-- Options -->
    <div class="row justify-content-evenly aos-up">
      <div class="col col-12 col-md-6 col-xl-4 d-flex align-items-stretch mb-3">
        <div class="card shadow border-light w-100">
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Rocket Pool</h5>
            <span class="badge rounded-pill text-bg-primary mb-2">Most Recommended</span>
            <div class="card-text mb-auto mt-2">
              <p>Rocket Pool is the most recommended on this list due to it being permissionless and healthiest for the network, which strengthens your own investment.</p>
              <ul>
                <li><a href="https://rocketpool.net/">Official website</a></li>
                <li><a href="https://docs.rocketpool.net/guides/staking/overview.html#how-to-stake-with-rocket-pool">Guides</a></li>
                <li><a href="https://discord.gg/rocketpool">Discord</a></li>
                <li><a href="https://rocketpool.net/#security">Audits</a></li>
                <li><a href="https://docs.rocketpool.net/overview/contracts-integrations/">Contract/token addresses</a></li>
                <li>Fees: ~13.5% commission</li>
                <li>Type: {{"Reward bearing token" | tooltip: site.data.tooltips.token_reward_bearing}}</li>
              </ul>
            </div>
            <a href="https://stake.rocketpool.net/" class="btn btn-dark btn-sm w-100 shadow-sm new-tab" target="_blank">Open app</a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 col-xl-4 d-flex align-items-stretch mb-3">
        <div class="card shadow border-light w-100">
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Stakewise</h5>
            <span class="badge rounded-pill text-bg-primary mb-2 opacity-75">Recommended</span>
            <div class="card-text mb-auto mt-2">
              <p>StakeWise is recommended, but does not yet have a permissionless operator set. This is in their roadmap and is slated to be completed soon.</p>
              <ul>
                <li><a href="https://stakewise.io/">Official website</a></li>
                <li><a href="https://docs.stakewise.io/">Guides</a></li>
                <li><a href="https://discord.gg/8Zf7tKyXeZ">Discord</a></li>
                <li><a href="https://github.com/stakewise/contracts/tree/master/audits">Audits</a></li>
                <li><a href="https://docs.stakewise.io/tokens">Token addresses</a></li>
                <li>Fees: 10% commission</li>
                <li>Type: {{"Reward bearing token" | tooltip: site.data.tooltips.token_reward_bearing}}</li>
              </ul>
            </div>
            <a href="https://app.stakewise.io/" class="btn btn-outline-dark btn-sm w-100 shadow-sm new-tab" target="_blank">Open app</a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 col-xl-4 d-flex align-items-stretch mb-3">
        <div class="card shadow border-light w-100">
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Lido</h5>
            <span class="badge rounded-pill text-bg-secondary mb-2 opacity-75">Not Recommended</span>
            <div class="card-text mb-auto mt-2">
              <p>Lido currently controls ~30% of the network. This majority stake is a threat to Ethereum and EthStaker discourages new stakers from using them.</p>
              <ul>
                <li><a href="https://lido.fi/">Official website</a></li>
                <li><a href="https://docs.lido.fi/">Guides</a></li>
                <li><a href="https://discord.com/invite/lido">Discord</a></li>
                <li><a href="https://github.com/lidofinance/audits">Audits</a></li>
                <li><a href="https://docs.lido.fi/deployed-contracts/">Contract/token addresses</a></li>
                <li>Fees: 10% commission</li>
                <li>Type: {{"Reward bearing token" | tooltip: site.data.tooltips.token_rebasing}}</li>
              </ul>
            </div>
            <a href="https://stake.lido.fi/" class="btn btn-outline-dark btn-sm w-100 shadow-sm new-tab" target="_blank">Open app</a>
          </div>
        </div>
      </div>
      <div class="text-center mt-3 mb-5 mb-md-4">
        <a href="https://ethereum.org/en/staking/pools/#explore-staking-pools" class="btn btn-outline-dark shadow new-tab" target="_blank">View all staking pools</a>
      </div>
    </div>
    {%- comment -%}
    <!-- Resources -->
    <!-- <div class="row justify-content-center aos-up">
      <div class="col col-12 col-md-6 col-xl-4 p-md-3 p-lg-3 text-center">
        <div class="card shadow border-light w-100 text-start">
          <div class="card-body">
            <h5 class="card-title">Resources</h5>
            <div class="card-text">
              <ul class="text-start">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
              </ul>
              <a href="/resources" class="btn btn-outline-dark btn-sm">View all resources</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    {%- endcomment -%}
  </div>
</section>
