<!-- Hosted Solo Staking -->
<section id="hosted-staking" class="">
  <div class="container my-3 my-md-0 my-lg-4 p-4 py-md-5">
    <!-- Description & Details -->
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-xl-7 p-md-3 p-lg-5 py-lg-3">
        <h2 class="display-4 fw-bold lh-1 mb-3">Hosted Solo Staking</h2>
        <p class="lead">Staking as a service (“SaaS") represents a category of staking services where you deposit your own 32 ETH for a validator, but delegate node operations to a third-party operator. This process usually involves being guided through the initial setup, including key generation and deposit, then uploading your signing keys to the operator. This allows the service to operate your validator on your behalf, usually for a monthly fee.</p>
        <p><a href="https://ethereum.org/en/staking/saas/" class="btn btn-outline-dark shadow new-tab" target="_blank">Learn more</a></p>
      </div>
      <div class="col align-self-center">
        <div class="row row-cols-1 row-cols-sm-2 aos-up">
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Requirements</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>32 ETH</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Risks</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>Bug in Ethereum</li>
                    <li>Service interruption</li>
                    <li>Penalties</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Rewards</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>+ Staking APR</li>
                    <li>+ MEV / tips</li>
                    <li>- Hosting fees</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Considerations</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>Key custody</li>
                    <li>Centralization risks</li>
                    <li>Hosting fees</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Getting Started -->
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 pt-3 p-md-3 p-lg-3 text-start text-sm-center">
        <h3 class="lh-1 mb-3">Getting Started</h3>
        <p class="lead">Providers for hosted staking vary greatly, each with their own benefits and risks. You should consider that all hosting options require additional trust assumptions compared to home-staking. Make sure to <a href="https://ethereum.org/en/staking/saas/#what-to-consider">understand each of these risks</a> while viewing the options linked below.</p>
        <a href="https://ethereum.org/en/staking/saas/#saas-providers" class="btn btn-outline-dark shadow new-tab" target="_blank">View hosted staking options</a>
      </div>
    </div>
    {%- comment -%}
    <!-- Resources -->
    <!-- <div class="row justify-content-center aos-up">
      <div class="col col-12 col-md-6 col-xl-4 p-md-3 p-lg-3 text-center">
        <div class="card shadow border-light w-100 text-start">
          <div class="card-body">
            <h5 class="card-title">Resources</h5>
            <div class="card-text">
              <ul class="text-start">
                <li><a href=""></a></li>
              </ul>
              <a href="/resources" class="btn btn-outline-dark btn-sm">View all resources</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    {%- endcomment -%}
  </div>
</section>
