<style type="text/css">
  header .quote {
    background: linear-gradient(to right, rgba(var(--brand-color-1-rgb),1) 85%,rgba(var(--brand-color-1-rgb),0) 100%);
    border-left: 2px solid var(--brand-color-4);
  }
  header .floating-hover {
    margin-top: -3em;
  }
</style>

<!-- Header -->
<header class="mt-0 mt-sm-2 mt-md-3 mt-xl-5 pt-4 pt-md-5">
  <div class="container my-0 mt-lg-4 mb-lg-2 p-4">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-xl-7 p-md-3 p-lg-5 pt-lg-3 aos-right">
        <h1 class="display-4 fw-bold lh-1 mb-3">What is EthStaker?</h1>
        <p class="lead quote text-dark fw-semibold py-2 px-3 ps-lg-4"><em>"Welcoming first, knowledgeable second"</em></p>
        <p class="lead">EthStaker is a community of 50,000+ members providing guidance, education, support, and resources for existing and potential stakers. EthStaker’s principle goal is to maximize decentralization of the Ethereum network.</p>
        <div class="gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="/about" class="btn btn-dark btn-lg shadow">Learn more</a>
        </div>
      </div>
      <div class="col-lg-4 ps-xxl-5 d-none d-xl-block aos-left">
        <img class="floating-hover" src="/assets/img/ethstaker/logo-blue.svg" alt="">
      </div>
    </div>
  </div>
</header>


{%- comment -%}
<!-- Header reversed -->
<header class="d-none mt-0 mt-sm-2 mt-md-3 mt-xl-5 pt-4 pt-md-5">
  <div class="container my-0 mt-lg-4 mb-lg-2 p-4">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4 pe-xxl-5 d-none d-xl-block aos-right">
        <img class="floating-hover" src="/assets/img/ethstaker/logo-blue.svg" alt="">
      </div>
      <div class="col-12 col-xl-7 p-md-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 mb-3">What is EthStaker?</h1>
        <p class="lead fw-semibold quote py-2 px-3 ps-lg-4 aos-left"><em>"Welcoming first, knowledgeable second"</em></p>
        <p class="lead">EthStaker is a community of 50,000+ members providing guidance, education, support, and resources for existing and potential stakers. EthStaker’s principle goal is to maximize decentralization of the Ethereum network.</p>
        <div class="gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="/about" class="btn btn-dark btn-lg shadow">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</header>
{%- endcomment -%}
