<style type="text/css">
  #staking .floating-hover {
    margin-top: -2em;
  }
</style>


<!-- Start Staking -->
<section id="staking" class="">
  <div class="container my-3 my-md-0 my-lg-4 p-4 py-md-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 p-md-3 pt-lg-3 text-center aos-up">
        <h2 class="display-4 fw-bold lh-1 mb-3">Staking Is for Everyone</h2>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-6 col-lg-4 ps-xxl-5 my-5 aos-right">
        <img class="img-fluid px-lg-4 floating-hover" src="/assets/img/index/nuc.png" alt="">
      </div>
      <div class="col-12 col-xl-7 p-md-3 p-lg-5 pt-lg-3 aos-left">
        <h3 class="mb-3">
          A <span id="wordCycle" class="bg-brand-color-1 text-dark fw-semibold fst-italic px-2 py-1">better</span> Ethereum starts with you
        </h3>
        <p class="lead">Solo staking is a great way to not only improve Ethereum, but also to generate low-risk yield on your ETH. While solo staking is the gold standard, there's a variety of other options that each have their own requirements, risks, and considerations.</p>
        <div class="row mt-4 fw-light fs-5">
          <div class="col-12 col-lg-6">
            <div class="d-flex">
              <div class="me-4">{{site.data.icons.graph_up}}</div>
              <p class="">Earn ETH yield</p>
            </div>
            <div class="d-flex">
              <div class="me-4">{{site.data.icons.shield}}</div>
              <p class=" mb-lg-0">Secure the network</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mb-6 mb-md-0">
            <div class="d-flex">
              <div class="me-4">{{site.data.icons.globe}}</div>
              <p class="">Boost decentralization</p>
            </div>
            <div class="d-flex">
              <div class="me-4">{{site.data.icons.person_lock}}</div>
              <p class=" mb-0">Non-custodial</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="gap-2 d-md-flex justify-content-md-start">
            <a href="/staking" class="btn btn-dark btn-lg mt-4 shadow">Get started</a>
            <a href="https://ethstaker.gitbook.io/ethstaker-knowledge-base/getting-started/what-is-ethereum-staking" class="btn btn-outline-dark btn-lg mt-4 shadow">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{%- comment -%}
<!-- Start Staking -->
<section class="d-none gradient-bg3">
  <div class="container my-3 my-md-0 my-lg-4 p-4 py-md-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 p-md-3 p-lg-3 text-center aos-up">
        <h2 class="display-4 fw-bold lh-1 mb-3">Start Staking</h2>
        <p class="lead">EthStaker is a community of 50,000+ members providing guidance, education, support, and resources for existing and potential stakers to interact. EthStaker’s principle goal is to maximize decentralization of the Ethereum network.</p>
        <div class="gap-2">
          <a href="/staking" class="btn btn-dark btn-lg mt-4 shadow">Get started</a>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endcomment -%}


<script type="text/javascript">
  var wordIndex = 0;
  var wordList = ["better","stronger","healthier","secure","decentralized","robust","valuable"]
  const interval = setInterval(function() {
    var word = document.getElementById("wordCycle");
    wordIndex += 1;
    if (wordIndex >= wordList.length) {
      wordIndex = 0;
    }
    word.innerHTML = wordList[wordIndex];
  }, 1000);
</script>
