<style type="text/css">
  /*adds sticky header*/
  .table-responsive {
    max-height: 650px;
    overflow: scroll;
    position: relative!important;
    /*widens table*/
    margin-left: -250px !important;
    margin-right: -250px !important;
  }
  @media only screen and (max-width: 1199px) {
    .table-responsive {
      margin-left: -145px !important;
      margin-right: -145px !important;
    }
  }
  @media only screen and (max-width: 991px) {
    .table-responsive {
      max-height: 525px;
    }
  }
  @media only screen and (max-width: 776px) {
    .table-responsive {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
  @media only screen and (max-width: 575px) {
    .table-responsive {
      max-height: 400px;
    }
  }

  /*adds sticks first column*/
  .table thead tr {
    background-color: var(--bs-secondary-bg);
  }
  .table th:first-child,
  .table td:first-child {
    position: sticky;
    left: 0;
    background-color: var(--bs-secondary-bg);
  }
</style>


<!-- Content from Github -->
{{"https://raw.githubusercontent.com/eth-educators/ethstaker-guides/main/MEV-relay-list.md" | getres | forceencode}}
