<style type="text/css">
  #sponsors .platinum {
    margin-bottom: 20px;
  }
  #sponsors .gold {
    margin-bottom: 15px;
  }
</style>


<div id="sponsors" class="row row-cols-auto justify-content-center pt-2">
  <div class="col d-flex flex-row platinum">
    <div class="card shadow">
      <div class="px-3 pt-3 pb-3">
        <a href="https://www.safestake.xyz/"><img src="/assets/img/devconnect/safestake.png" alt="SafeStake"></a>
      </div>
    </div>
  </div>
  <div class="col d-flex flex-row gold">
    <div class="card shadow mr-4">
      <div class="px-3 pt-3 pb-3">
        <a href="https://lido.fi/"><img src="/assets/img/devconnect/lido.png" alt="Lido"></a>
      </div>
    </div>
    <div class="card shadow mr-4">
      <div class="px-3 pt-3 pb-3">
        <a href="https://rocketpool.net/"><img src="/assets/img/devconnect/rocketpool.png" alt="Rocket Pool"></a>
      </div>
    </div>
    <div class="card shadow">
      <div class="px-3 pt-3 pb-3">
        <a href="https://sigmaprime.io/"><img src="/assets/img/devconnect/sigmaprime.png" alt="Sigma Prime"></a>
      </div>
    </div>
  </div>
  <div class="col d-flex flex-row silver">
    <div class="card shadow">
      <div class="px-3 pt-3 pb-3">
        <a href="https://linktr.ee/divastaking"><img src="/assets/img/devconnect/diva.png" alt="Diva Staking"></a>
      </div>
    </div>
    <div class="card shadow">
      <div class="px-3 pt-3 pb-3">
        <a href="https://www.eigenlayer.xyz/"><img src="/assets/img/devconnect/eigenlayer.png" alt="EigenLayer"></a>
      </div>
    </div>
    <div class="card shadow">
      <div class="px-3 pt-3 pb-3">
        <a href="https://nimbus.team/"><img src="/assets/img/devconnect/nimbus.png" alt="Nimbus"></a>
      </div>
    </div>
    <div class="card shadow">
      <div class="px-3 pt-3 pb-3">
        <a href="https://stakewise.io/"><img src="/assets/img/devconnect/stakewise.png" alt="StakeWise"></a>
      </div>
    </div>
  </div>

</div>

