<style type="text/css">
  #sponsors a,
  #sponsors img {
    max-height: 100%;
  }
  #sponsors .platinum {
    
  }
  #sponsors .gold,
  #sponsors .gold .col {
    height: 200px;
  }
  #sponsors .gold a.d-block {
    height: 100px;
  }
  #sponsors .silver,
  #sponsors .silver a {
    height: 100px;
  }

  #sponsors .media-partner,
  #sponsors .media-partner a {
    height: 50px;
  }

  @media only screen and (max-width: 1399px) {
    #sponsors .gold,
    #sponsors .gold .col {
      height: 175px;
    }
    #sponsors .gold a.d-block {
      height: 87px;
    }
    #sponsors .silver,
    #sponsors .silver a {
      height: 87px;
    }
  }
  @media only screen and (max-width: 1199px) {
    #sponsors .gold,
    #sponsors .gold .col {
      height: 150px;
    }
    #sponsors .gold a.d-block {
      height: 75px;
    }
    #sponsors .silver,
    #sponsors .silver a {
      height: 75px;
    }
  }
  @media only screen and (max-width: 991px) {
    #sponsors .gold,
    #sponsors .gold .col {
      height: 125px;
    }
    #sponsors .gold a.d-block {
      height: 62px;
    }
    #sponsors .silver,
    #sponsors .silver a {
      height: 62px;
    }
  }
  @media only screen and (max-width: 575px) {
    #sponsors .gold,
    #sponsors .gold .col {
      height: 100px;
    }
    #sponsors .gold a.d-block {
      height: 50px;
    }
    #sponsors .silver,
    #sponsors .silver a {
      height: 50px;
    }
  }

  .markdown #sponsors img {
    margin: 0px auto;
  }
</style>


<div id="sponsors" class="">
  <div class="row justify-content-center w-100 mb-4 platinum">
    <div class="col">
      <a href="https://www.safestake.xyz/">
        <img src="/assets/img/devconnect/safestake.svg" alt="SafeStake" class="w-100">
      </a>
    </div>
  </div>

  <div class="row justify-content-center d-flex align-items-center w-100 mb-4 gold">
    <div class="col col-6">
      <a class="d-block" href="https://lido.fi/">
        <img src="/assets/img/devconnect/lido.png" alt="Lido">
      </a>
      <a class="d-block" href="https://sigmaprime.io/">
        <img src="/assets/img/devconnect/sigmaprime.png" alt="Sigma Prime">
      </a>
    </div>
    <div class="col col-5">
      <a href="https://rocketpool.net/">
        <img src="/assets/img/devconnect/rocketpool.png" alt="Rocket Pool">
      </a>
    </div>
  </div>

  <div class="row justify-content-center w-100 mb-4 silver">
    <a class="w-25 d-flex align-items-center" href="https://nimbus.team/">
      <img src="/assets/img/devconnect/nimbus.png" alt="Nimbus">
    </a>
    <a class="w-25 d-flex align-items-center" href="https://linktr.ee/divastaking">
      <img src="/assets/img/devconnect/diva.png" alt="Diva Staking">
    </a>
    <a class="w-25 d-flex align-items-center" href="https://stakewise.io/">
      <img src="/assets/img/devconnect/stakewise.png" alt="StakeWise">
    </a>
  </div>
  <div class="row justify-content-center w-100 silver">
    <a class="w-25 d-flex align-items-center" href="https://www.ether.fi/">
      <img src="/assets/img/devconnect/etherfi.svg" alt="ether.fi">
    </a>
    <a class="w-25 d-flex align-items-center" href="https://www.eigenlayer.xyz/">
      <img src="/assets/img/devconnect/eigenlayer.png" alt="EigenLayer">
    </a>
    <a class="w-25 d-flex align-items-center" href="https://taiko.xyz/">
      <img src="/assets/img/devconnect/taiko.svg" alt="Taiko">
    </a>
  </div>


  <h4>Media Partners</h4>

  <div class="row justify-content-start w-100 media-partner">
    <a class="w-50 d-flex align-items-center" href="https://rhinoreview.substack.com/">
      <img src="/assets/img/devconnect/rhinoreview.png" alt="Rhino Review">
    </a>
  </div>
</div>



