<!-- CEX Staking -->
<section id="centralized-exchange-staking" class="">
  <div class="container my-3 my-md-0 my-lg-4 p-4 py-md-5">
    <!-- Description & Details -->
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-xl-7 p-md-3 p-lg-5 pt-lg-3">
        <h2 class="display-4 fw-bold lh-1 mb-3">Centralized Exchange Staking</h2>
        <p class="lead fw-bold text-danger">❌ Not Recommended</p>
        <p class="lead">Centralized exchange (CEX) staking is <strong class="fw-bold">NOT RECOMMENDED</strong>. Staking on a CEX requires that you relinquish control of your ETH in exchange for a non-enforceable IOU. It is possible, in the case that the exchange encounters financial issues, that your ETH is never returned to you.</p>
        <p class="lead">The ethos behind the creation of cryptocurrency is empowering you to have more control over your own assets. CEX staking is counter to this ethos and is like handing your money to a bank without the federal guarantees that back up the assets.</p>
      </div>
      <div class="col align-self-center">
        <div class="row row-cols-1 row-cols-sm-2 aos-up">
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Requirements</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>Any amount of ETH</li>
                    <li>An appetite for risk</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Risks</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>Bug in Ethereum</li>
                    <li>Service interruption</li>
                    <li>Loss of funds</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Rewards</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>+ Staking APR</li>
                    <li>+ MEV / tips</li>
                    <li>- Fees / commission</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-stretch mb-3">
            <div class="card shadow border-light w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">Considerations</h5>
                <div class="card-text mb-auto">
                  <ul class="m-0">
                    <li>{{"Terms of agreement" | tooltip: site.data.tooltips.considerations_tos}}</li>
                    <li>{{"Jurisdiction" | tooltip: site.data.tooltips.considerations_jurisdiction}}</li>
                    <li>{{"Reliability of provider" | tooltip: site.data.tooltips.considerations_reliability}}</li>
                    <li>OFAC compliance</li>
                    <li>Fees/commission</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Getting Started -->
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 pt-3 p-md-3 p-lg-3 pb-md-0 pb-lg-0 text-start text-sm-center">
        <h3 class="lh-1 mb-3">Getting Started</h3>
        <p class="lead mb-0">Again, this is not recommended due to the risks and negative effects on the network. If you still choose to proceed, select a CEX from below to stake with, create an account, and follow the guide to stake with them. Make sure to improve your email and exchange account security by setting up 2FA for login/withdrawal (using an authenticator app, not SMS), and be careful of phishing emails that look real.</p>
      </div>
    </div>
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 p-md-3 p-lg-3">
  {% include partials/components/callout.html
    title="Level Up!"
    type="info"
    content="If you need help learning how to use a decentralized staking protocol (**highly recommended**), please utilize the following resources:

  1. [What is self custody?](https://learn.metamask.io/lessons/what-is-a-self-custody-wallet)
  1. [Choosing a wallet](https://ethereum.org/en/wallets/)
  1. [Staking with a decentralized protocol](#decentralized-staking-pool)
  1. [Setup hot and cold wallets](https://www.gemini.com/cryptopedia/crypto-wallets-hot-cold)

  When using a self-custody wallet, always be careful searching for links (many ads are phishing websites), check the URL you're accessing, and cautious of emails since many phishing attempts appear to be real."
  %}
      </div>
    </div>
    <!-- Options -->
    <div class="row justify-content-center aos-up">
      <div class="col col-12 col-md-6 col-xl-4 d-flex align-items-stretch mb-3">
        <div class="card shadow border-light w-100">
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Coinbase</h5>
            <span class="badge rounded-pill text-bg-danger mb-2">Not Recommended</span>
            <div class="card-text mb-auto mt-2">
              <ul>
                <li><a href="https://www.coinbase.com/">Official website</a></li>
                <li><a href="https://www.coinbase.com/price/ethereum#HowcanIstakeEthereum">Guide</a></li>
                <li>Fees: 25% commission</li>
              </ul>
            </div>
            <a href="https://www.coinbase.com/price/ethereum#HowcanIstakeEthereum" class="btn btn-outline-dark btn-sm shadow-sm w-100 new-tab" target="_blank">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 col-xl-4 d-flex align-items-stretch mb-3">
        <div class="card shadow border-light w-100">
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Binance</h5>
            <span class="badge rounded-pill text-bg-danger mb-2">Not Recommended</span>
            <div class="card-text mb-auto mt-2">
              <ul>
                <li>Non-US
                  <ul>
                    <li><a href="https://www.binance.com/en">Official website</a></li>
                    <li><a href="https://www.binance.com/en/eth2">Guide</a></li>
                  </ul>
                </li>
                <li>US
                  <ul>
                    <li><a href="https://www.binance.us/">Official website</a></li>
                    <li><a href="https://www.binance.us/staking">Guide</a></li>
                  </ul>
                </li>
                <li>Fees: 5% commission</li>
              </ul>
            </div>
            <a href="https://www.binance.com/en/eth2" class="btn btn-outline-dark btn-sm shadow-sm w-100 new-tab" target="_blank">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Resources -->
    <div class="row justify-content-center aos-up">
      <div class="col col-12 col-md-6 col-xl-4 p-md-3 p-lg-3 text-center">
        <div class="card shadow border-light w-100 text-start">
          <div class="card-body">
            <h5 class="card-title">Resources</h5>
            <div class="card-text">
              <ul class="text-start">
                <li><a href="https://www.ledger.com/academy/not-your-keys-not-your-coins-why-it-matters">Not your keys, not yor crypto</a></li>
              </ul>
              <a href="/resources" class="btn btn-outline-dark btn-sm">View all resources</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
