<div class="row row-cols-1">
  {%- for service in site.data.tax-services -%}
    <div class="col mb-3">
      <h5>{{service.name}}</h5>
      <ul>
        <li class="mb-1"><a href="{{service.link}}" target="_blank">Website</a></li>
        <li class="mb-1"><a href="{{service.support_url}}" target="_blank">Supported countries</a></li>
        <ul>
          <li>{{service.support | replace: ", ", "," | split: "," | sort_natural | join: ", "}}</li>
        </ul>
      </ul>
    </div>
  {%- endfor -%}
</div>
