<style type="text/css">
  header img {
    max-height: 400px;
    max-width: 100%;
  }
</style>


<!-- Header -->
<header class="mt-0 mt-sm-2 mt-md-3 mt-xl-5 pt-4 pt-md-5">
  <div class="container my-0 mt-lg-4 mb-lg-2 p-4">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-5 col-xl-6 col-xxl-5 p-md-3 p-lg-5 pt-lg-3 aos-right">
        <h1 class="display-5 fw-bold lh-1 mb-3">Wagyu Key Gen</h1>
        <p class="lead">The simplest way to securely generate keys for staking deposits.</p>
        <div class="gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="#download" class="btn btn-dark btn-lg shadow">Download App</a>
        </div>
      </div>
      <div class="col-12 col-lg-7 col-xl-6 col-xxl-7 ps-xxl-5 dd-none dd-lg-block aos-left">
        <img class="d-block d-md-none d-lg-block d-xxl-none shadow-lg" src="/assets/img/wagyu/header-sm-min.png" alt="">
        <img class="d-none d-md-block d-lg-none d-xxl-block shadow-lg" src="/assets/img/wagyu/header-lg-min.png" alt="">
      </div>
    </div>
  </div>
</header>
