:root {
  /* light blue */
  --brand-color-1: #E3FFFD; 
  --brand-color-1-rgb: 227, 255, 253;
  /* bright blue */
  --brand-color-2: #00FFFF;
  --brand-color-2-rgb: 0, 255, 255;
  /* dark blue */
  --brand-color-3: #0071BC;
  --brand-color-3-rgb: 0, 113, 188;
  /* off-black */
  --brand-color-4: #333333;
  --brand-color-4-rgb: 51, 51, 51;

  --brand-shadow-1: 0 0 0 0.25rem;

  --gold-1-rgb: 226,215,107;
  --gold-2-rgb: 255,252,224;
  --gold-3-rgb: 239,233,176;
  --gold-4: #c2b439;
}


.bg-tertiary {
  background-color: var(--bs-tertiary-bg);
}


.brand-color-1 {
  color: var(--brand-color-1);
}
.bg-brand-color-1 {
  background-color: var(--brand-color-1);
}
.brand-color-2 {
  color: var(--brand-color-2);
}
.bg-brand-color-2 {
  background-color: var(--brand-color-2);
}
.brand-color-3 {
  color: var(--brand-color-3);
}
.bg-brand-color-3 {
  background-color: var(--brand-color-3);
}
.brand-color-4 {
  color: var(--brand-color-4);
}
.bg-brand-color-4 {
  background-color: var(--brand-color-4);
}
.brand-gradient-1 {
  background: linear-gradient(45deg, rgba(var(--brand-color-2-rgb),1) 0%, rgba(var(--brand-color-3-rgb),1) 100%);
}
.brand-gradient-2 {
  background: linear-gradient(to top, rgba(var(--bs-light-rgb),1) 70%,rgba(var(--bs-light-rgb),0) 100%) !important;
}
.brand-gradient-3 {
  background: linear-gradient(to top, rgba(var(--brand-color-1-rgb),0) 0%,
                                      rgba(var(--brand-color-1-rgb),1) 30%,
                                      rgba(var(--brand-color-1-rgb),1) 70%,
                                      rgba(var(--brand-color-1-rgb),0) 100%) !important;
}
.brand-gradient-4 {
  background: linear-gradient(to top, rgba(var(--brand-color-1-rgb),0) 0%,
                                      rgba(var(--brand-color-1-rgb),1) 10%,
                                      rgba(var(--brand-color-1-rgb),1) 90%,
                                      rgba(var(--brand-color-1-rgb),0) 100%) !important;
}
.brand-gradient-5 {
  background: linear-gradient(to top, rgba(var(--brand-color-1-rgb),0) 0%,
                                      rgba(var(--brand-color-1-rgb),1) 40%,
                                      rgba(var(--brand-color-1-rgb),1) 60%,
                                      rgba(var(--brand-color-1-rgb),0) 100%) !important;
}



body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
details summary:after {
  content: " (click to open)";
}
details[open] summary:after {
  content: " (click to close)";
}
section li:not(:last-child) {
  margin-bottom: 0.25rem;
}



/* buttons */
.btn svg {
  margin-top: -0.25rem;
}
.dark-mode .btn-dark:not(.ignore) {
  --bs-btn-color: var(--bs-body-bg);
  --bs-btn-bg: var(--bs-gray-100);
  --bs-btn-border-color: var(--bs-gray-100);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--bs-gray-300);
  --bs-btn-hover-border-color: var(--bs-gray-300);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--bs-gray-300);
  --bs-btn-active-border-color: var(--bs-gray-300);
  --bs-btn-disabled-color: var(--bs-body-bg);
  --bs-btn-disabled-bg: var(--bs-gray-300);
  --bs-btn-disabled-border-color: var(--bs-gray-300);
}
.dark-mode .btn-outline-dark:not(.ignore) {
  --bs-btn-color: var(--bs-gray-100);
  --bs-btn-border-color: var(--bs-gray-100);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--bs-gray-100);
  --bs-btn-hover-border-color: var(--bs-gray-100);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--bs-gray-100);
  --bs-btn-active-border-color: var(--bs-gray-100);
  --bs-btn-disabled-color: var(--bs-gray-100);
  --bs-btn-disabled-border-color: var(--bs-gray-100);
}



/* inputs, chechboxes, and radios */
.btn,
.btn-check {

}
.btn-check+.btn:hover,
.btn:hover {
  
}
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  
}
.btn-check:active+.btn:focus,
.btn-check:checked+.btn:focus,
.btn.active:focus,
.btn.dropdown-toggle.show:focus,
.btn:active:focus,
.btn-check:focus+.btn,
.btn:focus {
  box-shadow: var(--brand-shadow-1) var(--brand-color-1) !important;
}
.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.4 !important;
}
.form-check-input:checked {
  
}
.form-check-input:focus,
.form-check-input:active {
  box-shadow: 0 0 0 0.25rem var(--brand-color-1);
  outline: 0;
}
.form-control:focus,
.form-control:active {
  border-color: var(--bs-gray-300);
  box-shadow: 0 0 0 0.25rem var(--brand-color-1);
  outline: 0;
}
.form-control,
.form-control:focus {
  
}



.card {
  border-radius: 0.5rem;
  transition: box-shadow 0.15s;
}
.card:hover:not(.shadow-0),
.shadow-xl {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.25)!important;
}
.dark-mode .card:hover:not(.shadow-0) {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.75)!important;
}


.table-responsive {
  border-radius: var(--bs-border-radius);
}
.table-responsive .table {
  margin-bottom: 0;
}
table tr td {
  max-width: 60vw !important;
  text-wrap: unset;
  word-wrap: break-word;
}



.link-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}



/* hides the link new-tab icon */
.nav-item.dropdown .new-tab span.icon,
.markdown-header .btn.new-tab span.icon,
.footer-socials .new-tab span.icon,
.branding-card .new-tab span.icon,
.steward .new-tab span.icon,
#sponsors .new-tab span.icon,
.documenter .new-tab span.icon,
img .new-tab span.icon {
  display: none;
}



.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.floating-hover { 
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}



.etheralpha { 
  display: block;
  color: var(--bs-secondary-color);
  text-align: center;
  opacity: .75;
  margin-top: 3rem;
  font-size: 1rem !important;
}
