{%- comment -%}
<!-- 
This data is pulled from _data/for-hire-listings.json
-->
{%- endcomment -%}

<style type="text/css">
  @media screen and (min-width: 992px) {
    .job-link {
      opacity: 0;
      max-width: 1px;
      overflow: hidden;
    }
  }
  #forHires .write-icon svg {
    margin-bottom: 2px;
    width: 1.2rem;
    height: 1.2rem;
    /*color: var(--bs-body-color);*/
  }
  #forHires hr {
    margin: 0 0 1rem 0;
  }
  #forHires p {
    font-size: 1rem;
  }
  #forHires details summary:after,
  #forHires details[open] summary:after,
  #forHires details summary::marker {
    content: none;
  }
  #forHires details:hover {
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,.25)!important;
  }
  .dark-mode #forHires details:hover {
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,.75)!important;
  }
  #forHires .location {
    text-transform: capitalize;
  }
</style>


<div id="forHires" class="row row-cols-1">
  <div class="d-flex justify-content-end">
    <a class="ttext-body ms-1 mb-3" href="/forms/for-hire-listing-form">
      <span class="write-icon">{{site.data.icons.write}}</span>
      Create a for-hire listing
    </a>
  </div>
  <!-- <hr> -->
  <!-- <p class="text-center fst-italic"><small>Listing are not endorsements</small></p> -->
  <div id="forHireListings"></div>
  <p id="noListings" class="text-center">There are currently no job listings</p>

  {%- comment -%}
    {%- assign all_listings =  site.data.for-hire-listings -%}
    {%- assign listing_count =  all_listings | size -%}
    {%- assign visibility =  "" -%}
    {%- if listing_count > 0 -%}
      {%- assign visibility =  "d-none" -%}
    {%- endif -%}
    <div id="forHireListings">
      {%- for listing in all_listings -%}


        <details class="mt-0 mb-3">
          <summary>                  
            <div class="w-100">
              <div class="d-flex justify-content-between text-muted">
                <small>{{listing.name}}</small>
                <small>2h</small>
              </div>
              <h5 class="card-title">{{listing.title}}</h5>
              <small class="text-muted">
                {{listing.work_location}}
                <span class="mx-2">|</span>
                {{listing.type}}
              </small>
            </div>
          </summary>

          <div class="my-3">
            {%- if listing.location -%}
              <p>Location: {{listing.location}}</p>
            {%- endif -%}

            {%- if listing.about -%}
              <p>{{listing.about}}</p>
            {%- endif -%}

            <p><a href="{{listing.resume_link}}" target="_blank">Resume</a></p>
            {%- if listing.cover_link -%}
              <p><a href="{{listing.cover_link}}" target="_blank">Cover Letter</a></p>
            {%- endif -%}

            <p><strong>Contact:</strong> {{listing.email}}</p>
          </div>
        </details>
      {%- endfor -%}
    </div>
    <p class="text-center {{visibility}}">There are currently no job listings</p>
  {%- endcomment -%}
</div>


<script type="text/javascript">
  window.onload = getListings().then(loadListings);

  async function getListings() {
    const url = "https://raw.githubusercontent.com/eth-educators/github-actions/main/_data/for-hire-listings.json";
    return await fetch(url)
      .then(response => response.json())
      .then(data => {
        data.sort(function(a, b) {
          var dateA = new Date(a.epoch);
          var dateB = new Date(b.epoch);

          if (dateA > dateB ) {
            return -1;
          }
          if (dateA < dateB ) {
            return 1;
          }
          return 0;
        });
        return data;
      });
  }

  // Build the post html and replace the current feed
  function loadListings(listings) {
    // format:
    //   [
    //     {
    //       "epoch":1715885661.173,
    //       "name":"Name",
    //       "position":"Position Sought",
    //       "location":"New York",
    //       "work_location":"Remote",
    //       "about":"About",
    //       "type":"FullTime, Contract",
    //       "resume":"https://resume.link",
    //       "cover":"https://cover.link",
    //       "email":"test@example.com"
    //     }
    //     ...
    //   ]
    let listingsHTML = "";
    if (listings.length > 0) {
      document.querySelector("#forHires #noListings").classList.add("d-none");
    }
    let now = Math.round(new Date() / 1000);
    log(listings);
    listings.forEach(listing => {
      let listingAgeSeconds = now - listing.epoch;
      if (listingAgeSeconds < 0) {
        listingAgeSeconds = 0;
      }
      // let listingAgeMinutes = Math.round(listingAgeSeconds / 60);
      let listingAgeHours = Math.round(listingAgeSeconds / 3600);
      let listingAgeDays = Math.round(listingAgeSeconds / 86400);
      let listingAge = "now";
      if (listingAgeHours > 0) {
        listingAge = listingAgeHours + "h";
      }
      if (listingAgeDays > 0) {
        listingAge = listingAgeDays + "d";
      }
      let listingHTML = `<details class="mt-0 mb-3">
                        <summary>                  
                          <div class="w-100">
                            <div class="d-flex justify-content-between text-muted">
                              <small>${listing.name.trim()}</small>
                              <small>${listingAge}</small>
                            </div>
                            <h5 class="card-title">${listing.position.trim()}</h5>
                            <small class="text-muted">
                              ${listing.type.trim()}
                              <span class="mx-2">|</span>
                              ${listing.work_location.trim()}
                            </small>
                          </div>
                        </summary>
                        <div class="my-3">
                          ${listing.work_location != "Remote" ?
                            `<p class="location">Location: ${listing.location.trim().toLowerCase()}</p>` :
                            ``
                          }

                          ${listing.about ?
                            `<p>${listing.about.trim()}</p>` :
                            ``
                          }

                          <p><a href="${listing.resume.trim()}" target="_blank">Resume</a></p>

                          ${listing.cover ?
                            `<p><a href="${listing.cover.trim()}" target="_blank">Cover Letter</a></p>` :
                            ``
                          }

                          <p><strong>Contact:</strong> ${listing.email}</p>
                        </div>
                      </details>`;
      listingsHTML += listingHTML;
    });
    document.getElementById("forHireListings").innerHTML = listingsHTML;
  }
</script>

