{% include partials/components/divider-icons-template.html 
  class="divider-project-icons"
  imgs="/assets/img/projects/nimbus.svg,
        /assets/img/projects/besu.png,
        /assets/img/projects/lighthouse.png,
        /assets/img/projects/lodestar.png,
        /assets/img/projects/geth.png,
        /assets/img/projects/ethereum.png,
        /assets/img/projects/ethstaker.svg,
        /assets/img/projects/nethermind.png,
        /assets/img/projects/beaconchain.png,
        /assets/img/projects/erigon.png,
        /assets/img/projects/teku2.png,
        /assets/img/projects/prysm.svg"
%}
