{%- if site.enable_nav == true -%}
<style type="text/css">
  .nav-link,
  .nav-link:visited {
    padding-bottom: 0px;
  }
</style>


<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/ethstaker/logo-text-black.svg" alt="Logo" height="27" class="d-inline-block d-light align-text-top">
      <img src="/assets/img/ethstaker/logo-text-white.svg" alt="Logo" height="27" class="d-inline-block d-dark align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-3 mb-lg-0 flex-fill justify-content-center">
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Learn
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/about">About EthStaker</a></li>
            <li><a class="dropdown-item" href="https://docs.ethstaker.cc/ethstaker-knowledge-base/" target="_blank">Knowledge Base</a></li>
            <li><a class="dropdown-item" href="/rhino-review">Staking Updates</a></li>
            <li><a class="dropdown-item" href="/research" target="_blank">Research</a></li>
            <li><a class="dropdown-item" href="/incidents" target="_blank">Incidents</a></li>
            <li><a class="dropdown-item" href="https://docs.ethstaker.cc/ethstaker-knowledge-base/faq" target="_blank">FAQ</a></li>
            <li><a class="dropdown-item" href="/blog" target="_blank">Blog</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Community
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="http://dsc.gg/ethstaker" target="_blank">Discord</a></li>
            <li><a class="dropdown-item" href="https://reddit.com/r/ethstaker" target="_blank">Reddit</a></li>
            <li><a class="dropdown-item" href="https://twitter.com/ethStaker" target="_blank">Twitter</a></li>
            <li><a class="dropdown-item" href="https://cryptodon.lol/@ethstaker" target="_blank">Mastodon</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/@ETHStaker" target="_blank">YouTube</a></li>
            <li><a class="dropdown-item" href="https://github.com/eth-educators/" target="_blank">Github</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/resources">All Resources</a></li>
            <li><a class="dropdown-item" href="/mev-relay-list">MEV Relay List</a></li>
            <li><a class="dropdown-item" href="/smoothing-pools">Smoothing Pools</a></li>
            <li><a class="dropdown-item" href="/solo-staking-guides">Solo Staking Guides</a></li>
            <li><a class="dropdown-item" href="/staking-software">Staking Software</a></li>
            <li><a class="dropdown-item" href="/tax">Staking Taxes</a></li>
            <li><a class="dropdown-item" href="/airdrops">Solo Staker Airdrops</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="/support">Support</a>
        </li>
        <li class="nav-item me-5">
          <!-- keep this, used to center the header -->
        </li>
      </ul>
      <form class="d-flex mb-auto" role="search">
        <!-- <a class="btn btn-warning shadow-sm me-2" href="#dvt-program">DVT Program</a> -->
        <a class="btn btn-outline-dark shadow-sm" href="/staking">Start Staking</a>
        {% include partials/components/dark-mode-toggle.html %}
      </form>
    </div>
  </div>
</nav>
{%- endif -%}
