{%- comment -%}
<!-- 
This data is pulled from _site.data.staking-method-tree.yml

# - id: 
#   title: 
#   body: 
#   options: 
#     - option: 
#       go_to_id: 
#     - option: 
#       go_to_id: 

Use start_prompt for which prompt to initialize at.

{% include partials/components/staking-method-prompts.html
  start_prompt="wallet-1"
%}
-->
{%- endcomment -%}

<style type="text/css">
  .prompt .prompt-link {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    color: var(--bs-secondary);
    opacity: 0.6;
  }
  .prompt .prompt-link svg {
    width: 2rem;
    height: auto;
  }
  .prompt .prompt-link:hover {
    opacity: 0.9;
    color: var(--bs-secondary);
  }
  .prompt .card-title {
    max-width: calc(100% - 2rem);
  }

  .prompt-option.btn {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-emphasis-color);
    border-color: var(--bs-emphasis-color);
  }
  .prompt-option.btn:hover,
  .prompt-option.btn:active,
  .prompt-option.btn:focus {
    background-color: var(--bs-emphasis-color) !important;
    color: var(--bs-body-bg);
    border-color: var(--bs-body-bg);
  }
  .prompt-option p {
    margin-bottom: 0;
    display: inline;
  }
  .prompt-option svg {
    margin-top: -0.3rem;
  }

  #pageLink {
    color: var(--bs-light);
    opacity: 0.5;
  }
  #pageLink svg {
    width: 2.25rem;
    height: auto;
  }
  #pageLink:hover {
    opacity: 0.9;
  }
</style>


<div class="card shadow rounded-3 border-light mx-auto mx-3" style="max-width: 40rem;">
  <div class="card-body m-1">
    {%- comment -%}
      <!-- Assign prompts to an array of troubleshooting prompts and create a card for each. -->
    {%- endcomment -%}
    {%- assign prompts = site.data.staking-method-prompts -%}
    {%- assign prompts_path = "/staking-methods" -%}
    {%- assign start_prompt = "start" -%}
    {%- if include.start_prompt -%}
      {%- assign start_prompt = include.start_prompt -%}
    {%- endif -%}
    {%- for prompt in prompts -%}
      {%- comment -%}
        <!-- Only show prompts that have an id specified. -->
      {%- endcomment -%}
      {%- if prompt.id -%}
        {%- comment -%}
          <!-- Only show the starting prompt (start_prompt). Visibility of prompts after this are 
          controlled by the goToPrompt(), which is triggered by selecting an option. -->
        {%- endcomment -%}
        {%- assign visibility = "d-none" -%}
        {%- if prompt.id == start_prompt -%}
          {%- assign visibility = "" -%}
        {%- endif -%}
        {%- comment -%}
          <!-- If a filename is specified then load that page content, else if there's body 
          data specified and it's a question then use that, otherwise load content from a 
          file named after the id. -->
        {%- endcomment -%}
        <div id="prompt-{{prompt.id}}" class="prompt {{visibility}}">
          {%- comment -%}
            <!-- Copy link icon button to link to current prompt. -->
          {%- endcomment -%}
          <!-- <a id="link-{{prompt.id}}" class="prompt-link" 
              onclick="copyPromptLink('{{site.url}}{{page.url}}/?id={{prompt.id}}', this.id)"
              data-bs-toggle="tooltip" data-bs-placement="top" title="Copied!" data-bs-trigger="click">
            {{site.data.icons.link}}
          </a> -->
          {%- if prompt.style == "cta" -%}
            <h4 class="card-title mt-0">{{prompt.title}}</h4>
          {%- else -%}
            <h4 class="card-title mt-0">{{prompt.title | markdownify}}</h4>
          {%- endif -%}
          {% assign filename_test = prompt.body | split: " " | first %}
          {%- if prompt.body and filename_test contains ".md" -%}
            {% assign page_path = prompts_path | append: prompt.body %}
            {% assign prompt_page = site.pages | where: "path", page_path | first %}
            {%- comment -%}
              <!-- Check if the content file exists. 
              If it doesn't and it's an answer then throw an error. -->
            {%- endcomment -%}
            {%- if prompt_page.content -%}
              <div class="card-text mb-4">{{prompt_page.content | markdownify}}</div>
            {% endif %}
          {%- else -%}
            <div class="card-text mb-4">{{prompt.body | markdownify}}</div>
          {%- endif -%}
          {%- comment -%}
            <!-- If the prompt is a question then show the list of options. 
            Makes sure each option contains text and a prompt to go to. -->
          {%- endcomment -%}
          {%- if prompt.options -%}
            {%- for each_option in prompt.options -%}
              {%- if each_option.option and each_option.go_to_id -%}
                {%- assign show_feedback = false -%}
                {%- assign option_details = prompts | where: "id", each_option.go_to_id -%}
                {%- assign option_details = option_details | first -%}
                <script type="text/javascript">console.log({{option_details | jsonify}})</script>
                {%- if option_details.style == "cta" -%}
                  {%- assign show_feedback = true -%}
                {%- endif -%}

                {%- if prompt.style == "cta" -%}
                  {%- assign first_char = each_option.go_to_id | split: "" | first -%}
                  {%- if first_char == "#" -%}
                    <a href="{{each_option.go_to_id}}" class="btn btn-dark d-block mt-3" 
                    onclick="showFeedback({{show_feedback}});">
                      {{each_option.option | liquify}}
                    </a>
                  {%- else -%}
                    <a class="btn btn-dark d-block mt-3"
                    onclick="updatePromptAnswers('{{prompt.id}}','{{each_option.option | escape}}'); goToPrompt('{{prompt.id}}','{{each_option.go_to_id}}'); showFeedback({{show_feedback}});">
                      {{each_option.option | liquify}}
                    </a>
                  {%- endif -%}
                {%- else -%}
                  <a class="prompt-option btn text-start d-block mt-3"
                  onclick="updatePromptAnswers('{{prompt.id}}','{{each_option.option | escape}}'); goToPrompt('{{prompt.id}}','{{each_option.go_to_id}}'); showFeedback({{show_feedback}});">
                    <span class="btn-radio me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/></svg>
                    </span>
                    {{each_option.option | liquify | markdownify}}
                  </a>
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
    <!-- Feedback -->
    <div id="promptFeedback" class="d-none border-top py-2 mt-4 mb-0">
      <div id="promptFeedbackForm">
        <h5 class="my-3">Was this helpful?</h5>
        <!-- Feedback radio options -->
        <form id="promptFeedbackRadios" name="promptFeedbackRadios" class="">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="promptFeedbackRadio" value="yes" id="promptFeedbackRadio1" checked="">
            <label class="form-check-label" for="promptFeedbackRadio1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="promptFeedbackRadio" value="no" id="promptFeedbackRadio2">
            <label class="form-check-label" for="promptFeedbackRadio2">
              No
            </label>
          </div>
        </form>
        <!-- Feedback comments -->
        <textarea class="form-control mt-3" placeholder="Leave a comment here" id="promptFeedbackComment"></textarea>
        <!-- Feedback submit button -->
        <div class="d-grid gap-2 mt-3">
          <button id="promptFeedbackButton" class="btn btn-outline-dark" type="button" onclick="submitPromptFeedback()">Submit</button>
        </div>
      </div>
      <p id="promptFeedbackSubmitted" class="d-none mt-4">Your feedback has been submitted, thank you!</p>
    </div>
    {%- comment -%}
      <!-- A back button to go to the previous prompt and restart button to start over. This functionality is controlled by the 
      goToLastPrompt(). -->
    {%- endcomment -%}
    <div id="promptButtons" class="mt-4 d-none">
      <a class="btn btn-dark" onclick="goToLastPrompt()">
        <span class="me-2">
          {{site.data.icons.left_arrow}}
        </span>
        Back
      </a>
      <a class="btn btn-outline-light float-end" onclick="restart()">
        <span class="me-2">
          {{site.data.icons.arrow_clockwise}}
        </span>
        Restart
      </a>
    </div>
  </div>
</div>


<script type="text/javascript">
  let startId = "{{start_prompt}}";
  let promptHistory = [startId];
  let promptAnswers = {};
  window.onload = load();

  function load() {
    // If params detected, go to prompt
    let params = getQueryParameters();
    // log({"URL parameters": params});
    if ("id" in params) {
      const currentId = promptHistory[promptHistory.length - 1];
      const nextId = params.id;
      // showprompt(params.id)
      goToPrompt(currentId, nextId);
    } else {
      updateUrl();
    }
  }

  function restart() {
    const currentId = promptHistory[promptHistory.length - 1];
    const nextId = startId;
    goToPrompt(currentId, nextId);
    promptHistory = [startId];
  }

  function goToPrompt(currentId, nextId) {
    const currentPrompt = document.getElementById("prompt-" + currentId);
    const nextPrompt = document.getElementById("prompt-" + nextId);
    const buttons = document.getElementById("promptButtons");
    // Show the back button unless it's the starting prompt
    if (nextId == startId) {
      buttons.classList.add("d-none");
    } else {
      buttons.classList.remove("d-none");
    }
    // Hide the current prompt and show the next one
    currentPrompt.classList.add("d-none");
    nextPrompt.classList.remove("d-none");
    // Update promptHistory unless going back
    if (promptHistory[promptHistory.length - 1] !== nextId) {
      promptHistory.push(nextId);
    }
    let params = "?id=" + nextId;
    updateUrl(params);
  }

  function goToLastPrompt() {
    const currentId = promptHistory[promptHistory.length - 1];
    let nextId;
    // Failsafe - if on first prompt then stay on first prompt
    if (currentId === startId) {
      nextId = startId;
    } else {
      nextId = promptHistory[promptHistory.length - 2];
    }
    // Remove the current prompt from promptHistory
    promptHistory.pop();
    // Hide feedback
    showFeedback(false);
    // Go to the last prompt
    goToPrompt(currentId, nextId);
  }

  function updatePromptAnswers(id,answer) {
    promptAnswers[id] = answer;
  }

  function copyPromptLink(text, id) {
    navigator.clipboard.writeText(text).then(function() {
      let tooltipElement = document.getElementById(id);
      let tooltip = bootstrap.Tooltip.getInstance(tooltipElement);
      setTimeout(() => { tooltip.hide(); }, 1000);
    }, function(err) {
      console.error('Async: Could not copy link: ', err);
    });
  }

  // Update the url parameters (does not trigger page refresh)
  function updateUrl(params = false) {
    params = params ? params : "";
    let url = window.location.href.split("?")[0] + params;
    window.history.replaceState(null, "", url);
  }

  // Gets the url parameters
  function getQueryParameters() {
    try {
      let queryString = location.search.slice(1), params = {};
      queryString.replace(/([^=]*)=([^&]*)&*/g, (_, key, value) => {
        params[key] = value;
      });
      return params;
    } catch {
      return null;
    }
  }

  // Submit prompt feedback
  function submitPromptFeedback() {
    let topic = "staking method prompt";
    let solved = document.querySelector('input[name="promptFeedbackRadio"]:checked').value;
    let history = promptHistory.join(", ");
    let comment = document.getElementById("promptFeedbackComment").value;
    comment = `comment: ${comment} | history: ${history} `;
    submitFeedback(topic, solved, comment);
    document.getElementById("promptFeedbackForm").classList.add("d-none");
    document.getElementById("promptFeedbackSubmitted").classList.remove("d-none");
  }
  function showFeedback(show) {
    if (show) {
      document.getElementById("promptFeedback").classList.remove("d-none");
    } else {
      document.getElementById("promptFeedback").classList.add("d-none");
    }
  }
</script>
