<style type="text/css">
  #software .card {
    max-width: 30rem;
  }
  #software .card img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
  }
</style>

<!-- Software -->
<section id="software" class="">
  <div class="container my-3 my-md-0 my-lg-4 p-4 py-md-5">
    <div class="row justify-content-center aos-up">
      <div class="col-12 col-md-10 col-lg-8 col-xxl-7 pb-3 p-md-3 p-lg-3 text-start text-sm-center">
        <h2 class="display-4 fw-bold lh-1 mb-3">Staking Software</h2>
        <p class="lead">A collection of staking software developed by the EthStaker community.</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-1 row-cols-xl-3 aos-up">
      {%- for software in site.data.staking-software -%}
        {%- if software.title and software.link -%}
          <div class="col order-0 order-xl-1 d-flex justify-content-center align-items-stretch mb-3">
            <div class="card shadow border-0 w-100">
              <div class="card-body d-flex align-items-start flex-column">
                <h5 class="card-title">{{software.title}}</h5>
                <img src="{{software.img}}" loading="lazy" class="card-img-top mb-2" alt="...">
                <div class="card-text mb-auto">
                  <p class="mb-2 text-muted"><small>By: {{software.creator}}</small></p>
                  {{software.description}}
                </div>
                <a href="{{software.link}}" class="btn btn-outline-dark btn-sm shadow-sm w-100 mt-3">Learn more</a>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>
