<style type="text/css">
  #staking-resources .resouce-icon svg {
    height: 2.5rem;
    width: 2.5rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
  }
  #staking-resources .icon {
    display: none;
  }
  #staking-resources a {
    text-decoration: none;
    color: var(--bs-body-color);
    word-wrap: normal;
  }
</style>


<!-- Start Resources -->
<section id="staking-resources" class="">
  <div class="container my-3 my-md-0 my-lg-4 p-4 py-md-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 p-md-3 pt-lg-3 text-center aos-up">
        <h2 class="display-4 fw-bold lh-1 mb-3">Resources</h2>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      {%- assign resources = site.data.resources-home -%}
      {%- for resource in resources -%}
        {%- if resource.title and resource.link -%}
          <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-stretch mb-4">
            <div class="card w-100 shadow">
              <div class="card-body">
                <div class="resouce-icon text-center mb-3">{{site.data.icons[resource.icon]}}</div>
                <a href="{{resource.link}}" class="stretched-link">
                  <h5 class="card-title text-center mx-auto">{{resource.title}}</h5>
                </a>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>
