<style type="text/css">
#staking-gathering .floating-hover {
    margin-top: -2em;
}
</style>

<!-- Start Staking Gathering -->
<section id="staking-gathering" class="">
  <div class="container my-3 my-md-0 my-lg-4 p-4 py-md-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 p-md-3 pt-lg-3 text-center aos-up">
        <h2 class="display-4 fw-bold lh-1 mb-3">Staking Gathering 2023</h2>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-xl-7 p-md-3 p-lg-5 pt-lg-3 aos-left">
        <p class="lead">EthStaker hosted Staking Gathering on <span class="fw-bold">November 13-14 2023 in Istanbul</span>, with illuminating talks, workshops, and discussions to deepen your understanding of staking's intricacies. You can watch the recorded livestreams to enjoy the discussions at your own pace.</p>
        <div class="row lead">
          <div class="mt-2">
            <span class="text-danger me-2">{{site.data.icons.youtube}}</span>
            <a href="https://www.youtube.com/watch?v=gnFIeW84SQk" target="_blank">Staking Gathering 2023 - Day 1 - Main Stage</a>
          </div>
          <div class="mt-2">
            <span class="text-danger me-2">{{site.data.icons.youtube}}</span>
            <a href="https://www.youtube.com/watch?v=FKfhTl5jaZM" target="_blank">Staking Gathering 2023 - Day 1 - Second Stage</a>
          </div>
          <div class="mt-2">
            <span class="text-danger me-2">{{site.data.icons.youtube}}</span>
            <a href="https://www.youtube.com/watch?v=2AZUpTp9PgE" target="_blank">Staking Gathering 2023 - Day 2 - Main Stage</a>
          </div>
          <div class="mt-2">
            <span class="text-danger me-2">{{site.data.icons.youtube}}</span>
            <a href="https://www.youtube.com/watch?v=w3cJYmfUvRY" target="_blank">Staking Gathering 2023 - Day 2 - Second Stage</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4 ps-xxl-5 my-5 aos-left">
        <img class="img-fluid px-lg-4 floating-hover" src="/assets/img/index/devconnect.png" alt="Devconnect">
      </div>
    </div>
  </div>
</section>
